*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


/* Commons */
.btn-primary{
    height: 50px;
    border: 0;
    padding: 14px 32px;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    font-size: 20px;
}

.btn-secondary{
    height: 50px;
    border: 0;
    padding: 14px 32px;
    border-radius: 8px;
    color: #F15B22;
    background: white;
    font-size: 20px;
    font-weight: 600;
}

section{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

/* header */
.header{
    background-color: white;
    background-image: url('../Images/banner/banner1.png');
    background-repeat: no-repeat;

}

.banner-content{
    padding: 216px 200px 166px 690px;
    text-align: right;
}
.banner-title{
    font-size: 65px;
    margin-bottom: 20px;

}
.primary-text{
    color: dimgrey;
    margin-bottom: 30px;
    line-height: 26px;
    
}

/* main */

.failures{
    display: flex;
    gap: 90px;
    align-items: center;

}

.failure-title{
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 46px;
    font-weight: 700;
}

.fail-items{
    list-style-type: none;
}



/*======= My plans =========*/
.plans-container, .call-to-action{
    align-items: center;
    justify-content: center;

}

.plans{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

/* ========= Blog Section style ========= */

.blogs-container{
    display: flex;
    gap: 24px;
}

.blog{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}
.blog-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.blog img{
    width: 200px;
    height: 150px;
}


/* =====call to action style======= */

.action-content{
    background-image: url("../Images/watch.png");
    /* background-image: linear-gradient(to right, rgba(255, 172, 77, 0.946), rgba(255,0,0,0)); */
    background-repeat: no-repeat;
    padding: 60px 250px 60px 65px;
    position: relative;
    z-index: 100;
    border-radius: 8px;
}


.action-content::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    /* background: url('../Images/gradient3.png'); */
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 8px;

}


.action-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}



/* footer */
footer{
    max-width: 1600px;
    background-color: #151414;
    margin-top: 130px;
    padding: 130px 200px;
    display: flex;
    gap: 300px;
    justify-content: center;
    color: white;
}

.future-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-text{
    color: white;
    line-height: 26px;
    margin-bottom: 24px;
}


.subscribe input[type='email']{
    background-color: #151414;
    border: 1px solid white;
    padding: 15px 18px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.subscribe-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}


.social a{
    text-decoration: none;
    margin-right: 15px;

}
